<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>gphil's blog - Posts tagged web</title>
        <link>http://gphil.net</link>
        <description><![CDATA[gphil's blog RSS Feed]]></description>
        <atom:link href="http://gphil.net/tags/web.xml" rel="self"
                   type="application/rss+xml" />
        <lastBuildDate>Mon, 16 Mar 2015 00:00:00 UT</lastBuildDate>
        <item>
    <title>this.sucks</title>
    <link>http://gphil.net/posts/2015-03-16-this-sucks.html</link>
    <description><![CDATA[<p>The .sucks TLD <a href="http://arstechnica.com/information-technology/2015/03/sucks-tld-to-accept-sunrise-registrations-soon-but-theyll-be-pricey/">is a protection racket</a>:</p>
<blockquote>
<p>The <a href="http://www.nic.sucks/products">pricing situation</a> around .sucks domain names is complicated. Companies with registered trademarks will have to pay an astounding $2,499 to register their trademarked names in .sucks. Registration of non-trademarked names during the “sunrise” period (March 30 until June 1) before .sucks goes live will cost at least $199 per name, while the standard registration fee after June 1 rises to $249 per name.</p>
</blockquote>
<p>I’m surprised they’re getting away with this.</p>]]></description>
    <pubDate>Mon, 16 Mar 2015 00:00:00 UT</pubDate>
    <guid>http://gphil.net/posts/2015-03-16-this-sucks.html</guid>
    <dc:creator>Greg Phillips</dc:creator>
</item>

    </channel>
</rss>
